<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar row">
        <div class="col-8"></div>
        <% if @user %>
            <form class="col-first"action="/sessions/<%=@user.id%>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="delete">
                <input class="nav-link" type="submit" class="btn btn-info" value="Log Out">
            </form>
        <% end %> 
        <a class="nav-link" type="button" href="/bright_ideas">Bright Ideas</a>
    </div>
</nav>
        


    <div class="container">
        <p>Name: <%= @user.name %></p>
        <p>Alias: <%= @user.alias %></p>
        <p>Email: <%= @user.email %></p>
    </div>
    <hr>
    <div class="container">
        <p>Total Number of Posts: <%= @user.ideas.count %></p>
        <p>Total Number of Likes: <%= @user.likes.count %></p>
    </div>
</div>